<div class="leaderboard-container">
    <div class="leaderboard-header">
        <h3>TOP TYPISTS OF 24 HOURS</h3>
        <div class="header-lights">
            <span class="light red"></span>
            <span class="light yellow"></span>
            <span class="light green"></span>
        </div>
    </div>
    <div class="leaderboard-table-wrapper">
        <table class="leaderboard-table" id="leaderboardTable">
            <thead>
                <tr>
                    <th>RANK</th>
                    <th>USER</th>
                    <th>SPEED</th>
                    <th>LANG</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                <!-- Leaderboard data will appear here -->
            </tbody>
        </table>
    </div>
</div>