<h1>dark.typing:_</h1>
<div class="form-container">
        <h2>Вход</h2>
        <form action="/login" method="post"> <!-- Здесь можно изменить action на нужный URL -->
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Пароль" name="password" required>
            <button type="submit">Войти</button>
        </form>
        <a href="/register" class="register-link">Зарегистрироваться</a>
    </div>