<h1>dark.typing:_</h1>
<div class="form-container">
        <h2>Регистрация</h2>
        <form action="/register" method="post"> <!-- Здесь можно изменить action на нужный URL -->
            <input type="text" placeholder="Имя пользователя" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Пароль" name="password" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <a href="/login" class="register-link">Уже зарегистрированы? Войти</a>
    </div>